body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333333;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
}

canvas {
    display: block;
}

.description {
    margin-bottom: 20px;
    text-align: center;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 20%;
    left: 20px;
    transform: translateY(-50%);
}

.effects-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 20%;
    right: 20px;
    transform: translateY(-50%);
}

.control, .effect {
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
}

.parameters {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.parameter {
    margin-bottom: 5px;
}